@use "../../../styles/variables";
@use "../../../styles/breakpoints";

.container {
  padding: 0 2rem;
  margin-top: 5rem;

  .header {
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: space-between;

    img {
      width: 4rem;
      height: 4rem;
    }
  }

  .scoreboard {
    gap: 2.1rem;
    display: flex;
    padding: 0 1.6rem;
    align-items: center;
    margin-bottom: 5rem;
    justify-content: space-between;

    .avatar {
      top: 50%;
      position: absolute;
      transform: translateY(-50%);

      &--first {
        left: -2.7rem;
      }

      &--last {
        right: -2.7rem;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 23.6rem;
  margin-top: -1.5rem;
  border-radius: 6rem 6rem 0 0;
  background: variables.$dark-purple;

  &--first {
    background: variables.$red;
  }

  &--second {
    background: variables.$yellow;
  }
}

@include breakpoints.mq(tablet) {
  .container {
    width: 63.2rem;
    margin: 0 auto;
    margin-top: 3rem;

    .header {
      margin-bottom: 3.2rem;

      img {
        width: 5.2rem;
        height: 5.2rem;
      }
    }

    .scoreboard {
      padding: 0;
      gap: 4.1rem;
      margin-bottom: 3.2rem;
    }
  }

  .footer {
    height: 23.4rem;
    margin-top: -7rem;
  }
}

@include breakpoints.mq(desktop) {
  .container {
    width: 63.2rem;
    margin: 0 auto;
    margin-top: 5.3rem;

    .header {
      margin-bottom: 5.1rem;
    }

    .scoreboard {
      display: none;
    }
  }

  .footer {
    height: 22rem;
  }
}
