<div class="container">
  <div class="header">
    <app-badge label="Menu" (clickEvent)="onSelectMenu()"></app-badge>

    <img src="assets/images/logo.svg" alt="logo">

    <app-badge label="Restart" (clickEvent)="onRestartGame()"></app-badge>
  </div>

  <div class="scoreboard">
    <app-scoreboard label="YOU" [score]="0">
      @if(playerMode === getPlayerMode.CPU) {
        <img src="assets/images/you.svg" alt="you" class="avatar avatar--first">
      } @else {
        <img src="assets/images/player-one.svg" alt="player-one" class="avatar avatar--first">
      }
    </app-scoreboard>

    <app-scoreboard [label]="playerMode" [score]="0">
      @if(playerMode === getPlayerMode.CPU) {
        <img src="assets/images/cpu.svg" alt="cpu" class="avatar avatar--last">
      } @else {
        <img src="assets/images/player-two.svg" alt="player-two" class="avatar avatar--last">
      }
    </app-scoreboard>
  </div>

  <app-table [mode]="playerMode"></app-table>
</div>
