<div class="container">
  <div class="card">
    <h1 class="title">Rules</h1>

    <h3 class="subtitle">Objective</h3>

    <p class="text">
      Be the first player to connect 4 of the same colored discs in a row (either vertically,
      horizontally, or diagonally).
    </p>

    <h3 class="subtitle">How to play</h3>

    <div class="list">
      <div class="list__item">
        <span>1</span>

        <p class="text">Red goes first in the first game.</p>
      </div>

      <div class="list__item">
        <span>2</span>

        <p class="text">Players must alternate turns, and only one disc can be dropped in each turn.</p>
      </div>

      <div class="list__item">
        <span>3</span>

        <p class="text">The game ends when there is a 4-in-a-row or a stalemate.</p>
      </div>

      <div class="list__item">
        <span>4</span>

        <p class="text">The starter of the previous game goes second on the next game.</p>
      </div>
    </div>

    <img src="assets/images/icon-check.svg" alt="icon-check" class="check" (click)="onGoBack()">
  </div>
</div>
