@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url("../assets/fonts/static/SpaceGrotesk-Bold.ttf");
}

@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url("../assets/fonts/static/SpaceGrotesk-Medium.ttf");
}
