<div class="container">
  <div class="scoreboard">
    <app-scoreboard label="YOU" [desktopMode]="true" [score]="playersScore().playerOneScore" [ownScore]="true">
      @if(mode === getPlayerMode.CPU) {
      <img src="assets/images/you.svg" alt="you" class="avatar">
      } @else {
      <img src="assets/images/player-one.svg" alt="player-one" class="avatar">
      }
    </app-scoreboard>
  </div>

  <div class="scoreboard">
    <app-scoreboard [label]="mode" [desktopMode]="true" [score]="playersScore().playerTwoScore">
      @if(mode === getPlayerMode.CPU) {
      <img src="assets/images/cpu.svg" alt="cpu" class="avatar">
      } @else {
      <img src="assets/images/player-two.svg" alt="player-two" class="avatar">
      }
    </app-scoreboard>
  </div>

  <img src="/assets/images/board-layer-black-small.svg" alt="black-board" class="black-board">
  <img src="/assets/images/board-layer-white-small.svg" alt="white-board" class="white-board">

  <div class="grid" (mouseover)="onMouseOverGrid($event)" (click)="onGridClick($event)">
    <span class="cell" data-row="0" data-column="0" #cell></span>
    <span class="cell" data-row="0" data-column="1" #cell></span>
    <span class="cell" data-row="0" data-column="2" #cell></span>
    <span class="cell" data-row="0" data-column="3" #cell></span>
    <span class="cell" data-row="0" data-column="4" #cell></span>
    <span class="cell" data-row="0" data-column="5" #cell></span>
    <span class="cell" data-row="0" data-column="6" #cell></span>

    <span class="cell" data-row="1" data-column="0" #cell></span>
    <span class="cell" data-row="1" data-column="1" #cell></span>
    <span class="cell" data-row="1" data-column="2" #cell></span>
    <span class="cell" data-row="1" data-column="3" #cell></span>
    <span class="cell" data-row="1" data-column="4" #cell></span>
    <span class="cell" data-row="1" data-column="5" #cell></span>
    <span class="cell" data-row="1" data-column="6" #cell></span>

    <span class="cell" data-row="2" data-column="0" #cell></span>
    <span class="cell" data-row="2" data-column="1" #cell></span>
    <span class="cell" data-row="2" data-column="2" #cell></span>
    <span class="cell" data-row="2" data-column="3" #cell></span>
    <span class="cell" data-row="2" data-column="4" #cell></span>
    <span class="cell" data-row="2" data-column="5" #cell></span>
    <span class="cell" data-row="2" data-column="6" #cell></span>

    <span class="cell" data-row="3" data-column="0" #cell></span>
    <span class="cell" data-row="3" data-column="1" #cell></span>
    <span class="cell" data-row="3" data-column="2" #cell></span>
    <span class="cell" data-row="3" data-column="3" #cell></span>
    <span class="cell" data-row="3" data-column="4" #cell></span>
    <span class="cell" data-row="3" data-column="5" #cell></span>
    <span class="cell" data-row="3" data-column="6" #cell></span>

    <span class="cell" data-row="4" data-column="0" #cell></span>
    <span class="cell" data-row="4" data-column="1" #cell></span>
    <span class="cell" data-row="4" data-column="2" #cell></span>
    <span class="cell" data-row="4" data-column="3" #cell></span>
    <span class="cell" data-row="4" data-column="4" #cell></span>
    <span class="cell" data-row="4" data-column="5" #cell></span>
    <span class="cell" data-row="4" data-column="6" #cell></span>

    <span class="cell" data-row="5" data-column="0" #cell></span>
    <span class="cell" data-row="5" data-column="1" #cell></span>
    <span class="cell" data-row="5" data-column="2" #cell></span>
    <span class="cell" data-row="5" data-column="3" #cell></span>
    <span class="cell" data-row="5" data-column="4" #cell></span>
    <span class="cell" data-row="5" data-column="5" #cell></span>
    <span class="cell" data-row="5" data-column="6" #cell></span>
  </div>

  @if(winnerInfo) {
  <app-winner [winnerInfo]="winnerInfo"></app-winner>
  } @else {
  @if (drawEvent$ | async) {
  <app-draw></app-draw>
  } @else {
  <app-turn [mode]="mode"></app-turn>
  }
  }
</div>
