@if(isFirstPlayerPlaying()) {
  <div class="turn">
    <img src="assets/images/turn-background-red.svg" alt="turn-background-red">

    <div class="text">
      <span class="label">Your Turn</span>

      <span class="score">{{gameCounter()}}s</span>
    </div>
  </div>
  } @else {
  <div class="turn">
    <img src="assets/images/turn-background-yellow.svg" alt="turn-background-yellow">

    <div class="text text--other">
      <span class="label">{{mode}}'s Turn</span>

      <span class="score">{{gameCounter()}}s</span>
    </div>
  </div>
  }
