@use "../../../../../styles/variables";
@use "../../../../../styles/breakpoints";

.container {
  display: flex;
  width: 14.2rem;
  font-size: 1.6rem;
  position: relative;
  align-items: center;
  border-radius: 2rem;
  flex-direction: column;
  color: variables.$black;
  text-transform: uppercase;
  padding: 1rem 5.4rem 0.9rem;
  background: variables.$white;
  font-family: "SpaceGrotesk-Bold";
  border: 0.3rem solid variables.$black;
  box-shadow: 0 1rem 0 0 variables.$black;

  .score {
    font-size: 3.2rem;
  }
}

@include breakpoints.mq(tablet) {
  .container {
    height: 10rem;
    width: 27.2rem;
    font-size: 2rem;
    justify-content: space-around;

    &--own {
      flex-direction: row;
      padding: 1.4rem 2rem 1.5rem 4.4rem;
    }

    &--other {
      flex-direction: row-reverse;
      padding: 1.4rem 4.4rem 1.5rem 2rem;
    }

    &--desktop {
      height: 16rem;
      width: 14.1rem;
      flex-direction: column;
      padding: 4.6rem 2.7rem 1.7rem 2.9rem;
    }

    .score {
      font-size: 5.6rem;
    }
  }
}
