@use "../../../../../styles/variables";
@use "../../../../../styles/breakpoints";

.container {
  left: 50%;
  z-index: 999;
  height: 17rem;
  width: 28.5rem;
  padding: 1.7rem 0;
  position: absolute;
  text-align: center;
  border-radius: 2rem;
  color: variables.$black;
  top: calc(100% - 2.5rem);
  transform: translateX(-50%);
  background: variables.$white;
  font-family: "SpaceGrotesk-Bold";
  border: 0.3rem solid variables.$black;
  box-shadow: 0 1rem 0 0 variables.$black;

  .label {
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  .value {
    font-size: 5.6rem;
    text-transform: uppercase;
  }

  .footer {
    padding-left: 7.5rem;
    padding-right: 7.3rem;
  }
}

@include breakpoints.mq(tablet) {
  .container {
    top: calc(100% - 8.5rem);
  }
}
