/* You can add global styles to this file, and also import other style files */
@use "./styles/fonts";
@use "./styles/reset";
@use "./styles/variables";
@use "./styles/breakpoints";

body {
  padding: 0 2rem;
  min-height: 100vh;
  background: variables.$purple;
}
